.letter-opened-bg {
	height: 100vh;
	width: 100%;
	background-color: #ffb9b9;
	position: relative;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.letter-opened-link {
	height: 100%;
	width: 100%;
}

.letter-opened-svg {
	height: 80%;
	width: auto;
}
