.swipe {
	position: absolute;
	left: 37%;
	/* transform: translateX(-50%); */
}

.cardContainer {
	/* width: 90vw;
	max-width: 260px;
	height: 300px; */
	/* position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; */
}

.tinder-bg {
	height: 100vh;
	width: 100%;
	background-color: pink;
	position: relative;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	overflow: hidden;
}

.height-10 {
	height: 10%;
}

.height-20 {
	height: 20%;
}

.height-80 {
	height: 80%;
}

.height-60 {
	height: 60%;
}

.card {
	/* position: relative; */
	background-color: #fff;
	width: 80vw;
	max-width: 300px;
	height: 360px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	background-size: cover;
	background-position: center;
}

.cardContent {
	width: 100%;
	height: 100%;
}

/* .swipe:last-of-type {
} */

.card h3 {
	position: absolute;
	bottom: 0;
	margin: 10px;
	color: #fff;
}

.infoText {
	width: 100%;
	justify-content: center;
	display: flex;
	color: #fff;
	animation-name: popup;
	animation-duration: 800ms;
}

/* .buttons {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 625px) {
	.buttons {
		flex-direction: column;
	}
} */

.next-button {
	flex-shrink: 0;
	padding: 10px;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-size: 18px;
	background-color: #9198e5;
	transition: 200ms;
	margin: 10px;
	font-weight: bolder;
	width: 160px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.next-button:hover {
	transform: scale(1.05);
}

.buttons button {
	flex-shrink: 0;
	padding: 10px;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-size: 18px;
	background-color: #9198e5;
	transition: 200ms;
	margin: 10px;
	font-weight: bolder;
	width: 160px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
	transform: scale(1.05);
}

@keyframes popup {
	0% {
		transform: scale(1, 1);
	}
	10% {
		transform: scale(1.1, 1.1);
	}
	30% {
		transform: scale(0.9, 0.9);
	}
	50% {
		transform: scale(1, 1);
	}
	57% {
		transform: scale(1, 1);
	}
	64% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
